
# OSX
#
.DS_Store
  

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Visual Studio
*.userprefs
packages/
*.dll
*.exe
*.pdb
**bin/
**obj/
crossplatform/FormsTestApp/packages/
.vs/      

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore
      
**.user
